<div class="container">
  <header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          Mock LBS api
        </div>
      </div>
    </div>
  </header>
  <div class="card">
    <div class="card-body">
      <button *ngIf="basestations.length" (click)="addBasestations()"  type="button" class="btn btn-success m-1">Отправить данные</button>
    </div>
  </div>
  <app-add-basestation (markPoint)="setLngLat($event)" > </app-add-basestation>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Адрес</th>
        <th scope="col">код Региона</th>
        <th scope="col">Тип</th>
        <th scope="col">Lac</th>
        <th scope="col">Cell</th>
        <th scope="col">Широта</th>
        <th scope="col">Долгота</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let basestation of basestations; let i = index">
        <th scope="row"> {{ i + 1 }} </th>
        <td>{{ basestation.address }}</td>
        <td>{{ basestation.region }}</td>
        <td>{{ basestation.radioType }}</td>
        <td>{{ basestation.lac }}</td>
        <td>{{ basestation.cell }}</td>
        <td>{{ basestation.latitude }}</td>
        <td>{{ basestation.longitude }}</td>
        <td><button (click)="deleteBasestation(basestation)" class="btn btn-danger">Удалить</button></td>
      </tr>
    </tbody>
  </table>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Базовая станция</h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      Закрыть
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="basestationForm">
      <div class="form-group">
        <label for="lac" class="col-form-label">Lac:</label>
        <input formControlName="lac"  type="number" class="form-control" id="lac">
      </div>
      <div class="form-group">
        <label for="cell" class="col-form-label">Cell:</label>
        <input  formControlName="cell" type="number" class="form-control" id="cell">
      </div>
      <div class="form-group">
        <label for="cell" class="col-form-label">Код региона:</label>
        <input  formControlName="region" type="number" class="form-control" id="region">
      </div>
      <div class="form-group">
        <label >Выберите тип:</label>
        <div class="form-check">
          <input class="form-check-input" value="LTE" type="radio" formControlName="radioType" id="LTE"/>
          <label class="form-check-label" for="LTE"> LTE </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" value="GSM"   formControlName="radioType" type="radio" id="GSM" checked/>
          <label class="form-check-label" for="GSM"> GSM </label>
        </div>
      </div>
      <div class="form-group">
        <label for="address"  class="col-form-label">Адрес:</label>
        <textarea formControlName="address" class="form-control" id="address"></textarea>
      </div>
    </form>



  </div>
  <div class="modal-footer">
    <button [disabled]="basestationForm.invalid" type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Сохранить</button>
  </div>
</ng-template>


