<div class="basestations">
	<div class="header">Mock-LBS API</div>

	<div class="toolbar">
		<button
			[disabled]="!basestations.length"
			(click)="addBasestations()"
			type="button"
			class="button button-legend button--primary"
		>
			Отправить данные
		</button>
		<button class="button" type="button" (click)="onListModalOpen()">Список</button>
	</div>

	<app-add-basestation class="map-wrapper" (markPoint)="setLngLat($event)"> </app-add-basestation>

	<app-modal
		*ngIf="isCreateModalOpen"
		class="modal-wrapper"
		title="Базовая станция"
		(modalClosed)="onCreateModalClosed()"
	>
		<form content [formGroup]="basestationForm">
			<div class="field">
				<div class="field__title bold">Lac:</div>
				<div class="field__item">
					<input formControlName="lac" type="text" class="input" name="lac" placeholder="Lac" />
				</div>
			</div>
			<div class="field">
				<div class="field__title bold">Cell:</div>
				<div class="field__item">
					<input formControlName="cell" type="text" class="input" name="cell" placeholder="Cell" />
				</div>
			</div>
			<div class="field">
				<div class="field__title bold">Код региона:</div>
				<div class="field__item">
					<input formControlName="region" type="text" class="input" name="region" placeholder="Код региона" />
				</div>
			</div>

			<div class="field">
				<div class="field__title bold">Выберите тип:</div>
				<div class="field__item">
					<input value="LTE" formControlName="radioType" type="radio" id="LTE" />
					<label for="LTE"> LTE </label>
				</div>
				<div class="field__item">
					<input value="GSM" formControlName="radioType" type="radio" id="GSM" checked />
					<label for="GSM"> GSM </label>
				</div>
			</div>

			<div class="field">
				<div class="field__title bold">Адрес:</div>
				<div class="field__item">
					<textarea
						formControlName="address"
						type="text"
						class="textarea"
						name="address"
						placeholder="Адрес"
					></textarea>
				</div>
			</div>
		</form>

		<button
			footer
			[disabled]="basestationForm.invalid"
			type="button"
			class="button button--primary button-legend"
			(click)="save()"
		>
			Сохранить
		</button>
	</app-modal>

	<app-modal *ngIf="isListModalOpen" class="modal-wrapper" title="Список" (modalClosed)="onListModalClosed()">
		<table content class="table table--zebra-striped">
			<thead class="table__thead">
				<tr class="table__row">
					<th class="table__th bold" scope="col">#</th>
					<th class="table__th bold" scope="col">Адрес</th>
					<th class="table__th bold" scope="col">Код региона</th>
					<th class="table__th bold" scope="col">Тип</th>
					<th class="table__th bold" scope="col">Lac</th>
					<th class="table__th bold" scope="col">Cell</th>
					<th class="table__th bold" scope="col">Широта</th>
					<th class="table__th bold" scope="col">Долгота</th>
				</tr>
			</thead>
			<tbody class="table__tbody">
				<tr class="table__row" *ngFor="let basestation of basestations; let i = index">
					<th class="table__th" scope="row">{{ i + 1 }}</th>
					<td class="table__td" >{{ basestation.address }}</td>
					<td class="table__td">{{ basestation.region }}</td>
					<td class="table__td">{{ basestation.radioType }}</td>
					<td class="table__td">{{ basestation.lac }}</td>
					<td class="table__td">{{ basestation.cell }}</td>
					<td class="table__td">{{ basestation.latitude }}</td>
					<td class="table__td">{{ basestation.longitude }}</td>
					<td class="table__td"><button (click)="deleteBasestation(basestation)" class="button button--warn">Удалить</button></td>
				</tr>
			</tbody>
		</table>
	</app-modal>
</div>
