<div class="basestations">
	<div class="header">Mock-LBS API</div>

	<div class="toolbar">
		<button *ngIf="true" (click)="addBasestations()" type="button" class="button button-legend button--primary">
			Отправить данные
		</button>
	</div>

	<app-add-basestation class="map-wrapper" (markPoint)="setLngLat($event)"> </app-add-basestation>

	<app-modal *ngIf="isModalOpen" class="modal-wrapper" title="Базовая станция" (modalClosed)="onModalClosed()">
		<form content [formGroup]="basestationForm">
			<div class="field">
				<div class="field__title bold">Lac:</div>
				<div class="field__item">
					<input formControlName="lac" type="text" class="input" name="lac" placeholder="Lac" />
				</div>
			</div>
			<div class="field">
				<div class="field__title bold">Cell:</div>
				<div class="field__item">
					<input formControlName="cell" type="text" class="input" name="cell" placeholder="Cell" />
				</div>
			</div>
			<div class="field">
				<div class="field__title bold">Код региона:</div>
				<div class="field__item">
					<input formControlName="region" type="text" class="input" name="region" placeholder="Код региона" />
				</div>
			</div>

			<div class="field">
				<div class="field__title bold">Выберите тип:</div>
				<div class="field__item">
					<input value="LTE" formControlName="radioType" type="radio" id="LTE" />
					<label for="LTE"> LTE </label>
				</div>
				<div class="field__item">
					<input value="GSM" formControlName="radioType" type="radio" id="GSM" checked />
					<label for="GSM"> GSM </label>
				</div>
			</div>

			<div class="field">
				<div class="field__title bold">Адрес:</div>
				<div class="field__item">
					<textarea
						formControlName="address"
						type="text"
						class="textarea"
						name="address"
						placeholder="Адрес"
					></textarea>
				</div>
			</div>
		</form>

		<button
			footer
			[disabled]="basestationForm.invalid"
			type="button"
			class="button button--primary button-legend"
			(click)="save()"
		>
			Сохранить
		</button>
	</app-modal>
</div>
